nav{
    position: absolute;
    background-color: #000;
    height: 30px;
    top: 70px;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 2;
}

#menuDeroulant{
    width: 770px;
    line-height: 30px;
    list-style-type: none;
    margin: 0px;
    padding-left: 190px;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
}

#menuDeroulant li{
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant .sousMenu{ 
    line-height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 11px;
}

#menuDeroulant .sousMenu li{
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant li{
    float: left;
    width: 110px;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant li a:link, #menuDeroulant li a:visited{
    display: block;
    height: 1%;
    color: #fff;
    background: #000;
    margin: 0;
    text-decoration: none;
}

#menuDeroulant li a:hover{
    background-color: #f2462e;
}

#menuDeroulant li a:active{
    background-color: #5f879d;
}

#menuDeroulant .sousMenu li a:link, #menuDeroulant .sousMenu li a:visited{
    display: block;
    color: #fff;
    margin: 0;
    border: 0;
    text-decoration: none;
}

#menuDeroulant .sousMenu li a:hover{
    background-image: none;
    background-color: #f2462e;
}

#menuDeroulant .sousMenu{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant li:hover > .sousMenu{
    display: block;
}

body{
    font: 13px Arial, verdana, sans-serif;
    background-color: #add633;
    margin: 0 auto;
    padding: 0;
}

img{
    border: 1px grey solid;
}

h1{
    font-size: 35px;
    font-style: italic;
    font-family: verdana;
}

p{
    padding: 0;
    margin: 0;
    border: 0;
    text-align: justify;
}

#barre{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 30px;
    background-color: #000;
    top: 70px;
    z-index: 1;
}

header{
    width: 960px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

img.logo{
    position: absolute;
    z-index: 3;
    border: none;
}

.fil{
    padding: 0;
    border: 0;
    margin-left: 220px;
    top: 110px;
    width: 770px;
    position: absolute;
    font-weight: normal;
}

div.corps{
    position: relative;
    width: 960px;
    zoom: 1;
    margin: 0 auto;
    padding: 0;
    border: 0;
    top: 230px;
}

div.corps:after{
    content: "";
    display: block;
    clear: both;
}

div.colonne{
    float:left;
    width:250px;
    height: 460px;
    margin-right:20px;
}

aside.connexion{
    height: 200px;
    top: 60px;
    padding: 10px;
    background-color: #d4ed8a;
    border-radius: 10px;
    margin-bottom: 20px;
}

aside.inscrits{
    height: 150px;
    top: 60px;
    padding: 10px;
    background-color: #d4ed8a;
    border-radius: 10px;
    margin-bottom: 20px;
}

p.lieninscrits{
    text-align: center;
}

aside.infos{
    height: 500px;
    top: 60px;
    padding: 10px;
    background-color: #d4ed8a;
    border-radius: 10px;
    margin-bottom: 20px;
}

div.principal{
    padding: 25px;
    width: 640px;
    float:right;
    background-color: #d4ed8a;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1, h2, h3{
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;
}

div.bloc{
    margin-bottom: 20px;
}

div.bloc:after{
    content: "";
    display: block;
    clear: both;
}

p.left, p.right{
    position: relative;
    width: 320px;
    vertical-align: middle;
}

.center{
    position: relative;
    margin-left: 95px;
}

footer{
    padding: 0;
    width: 690px;
    height: 30px;
    float:right;
    background-color: #d4ed8a;
    border-radius: 10px;
    margin-bottom: 20px;
}